.date-form {
  background-color: #fff;
  position: relative;
  top: -25px;
  right: -217px;
  margin: 0;
  width: 170px;
}

.date-form form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 11px;
  padding-left: 10px;
  width: 130px;
}

.date-form input {
  border: none;
  font-size: 15px;
  margin: none;
  outline: none;
  padding: none;
  text-align: left;
  width: 35px;
}

.date-form input::placeholder {
  color: #ff0000;
  font-weight: 300;
  opacity: 0.5;
}

#day {
  width: 20px;
}

#month {
  width: 35px;
}

.date-form span {
  color: #fff;
}