.home {
  color: white;
  margin-left: 200px;
  padding: 50px;
}

.apod-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.counter {
  background-color: #fff;
  width: 170px;
}