ul {
  list-style-type: none;
}

nav {
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  &:hover {
    color: red;
  }
}

.Collapsible {
  color: purple;
  &:hover {
    color: red;
  }
}

a {
  text-decoration: none;
  &:hover {
    color: red;
  }
}