.App {
  text-align: center;
  background-color: #000;
}
.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.apod-img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

